.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-primary);
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: var(--color-secondary-2);
  font-weight: 700;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-primary-1);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.heading-main {
  font-family: var(--font-primary);
  color: var(--color-primary-1);
  font-weight: 700;
  font-size: 3rem;
}

.text-description {
  font-family: var(--font-secondary);
  color: var(--color-primary-1);
  font-weight: 700;
}

.hero-cta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .hero-form {
  width: 50%;
} */
.hero-text-input {
  width: 30rem;
  padding: 1rem 1.5rem;
}

.hero-text-input:focus {
  outline: none;
}

.btn {
  padding: 1.2rem 4rem;
  background-color: var(--color-tertiary-1);
  border: none;
  color: var(--color-secondary-1);
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1);
}

.hero-img {
  height: 100%;
  width: 100%;
  display: block;
}
